<!doctype html>
<html>
<head>
{% load static %}
<meta charset="utf-8">
<title>index</title>
<script type="text/javascript" src="{%  static 'js/jquery.js'  %}"></script>
<script type="text/javascript" src="{%  static 'js/jquery.json.min.js'  %}"></script>
{#<meta http-equiv="refresh" content="50;">#}
<link rel="stylesheet" href="{%  static 'css/comon0.css'  %}">
</head>
	<script>
	$(window).load(function(){  
             $(".loading").fadeOut()
            })  
			
/****/
$(document).ready(function(){
	var whei=$(window).width()
	$("html").css({fontSize:whei/20})
	$(window).resize(function(){
		var whei=$(window).width()
	 $("html").css({fontSize:whei/20})
    });
    getAllData();
});
	</script>
	<script type="text/javascript" src="{%  static 'js/echarts.min.js' %}"></script>
	<script language="JavaScript" src="{%  static 'js/js.js' %}"></script>
<body>
<div class="canvas" style="opacity: .2">
	<iframe frameborder="0" src="{%  static 'js/index.html' %}" style="width: 100%; height: 100%"></iframe>
	</div>
<div class="loading">
  <div class="loadbox"> <img src="{%  static 'picture/loading.gif' %}"> 页面加载中... </div>
</div>
<div class="head">
  <h1>接入容量智能运维作战室</h1>
  <div class="weather"><span id="showTime"></span></div>

</div>
<div class="mainbox">
  <ul class="clearfix">
    <li>
      <div class="boxall" style="height: 3.2rem">
        <div class="alltitle">活动列表</div>
        <div class="allnav" style="overflow: auto;" id="echart1">
            <table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
                <thead style="position: sticky; top: 0;">
                    <tr>
                        <th>类型</th>
                        <th>时间</th>
                        <th>活动</th>
                        <th>场所</th>
                        <th>城市</th>
                        <th>人数</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="boxfoot"></div>
      </div>
      <div class="boxall" style="height: 3.2rem">
        <div class="alltitle">活动类型柱状图</div>
        <div class="allnav" id="echart2"></div>
        <div class="boxfoot"></div>
      </div>
      <div class="boxall" style="height: 3.2rem">
        <div style="height:100%; width: 100%;">
		  	<div class="sy" id="fb1"></div>
				<div class="sy" id="fb2"></div>
				<div class="sy" id="fb3"></div>
		  </div>
        <div class="boxfoot">
			
		  </div>
      </div>
    </li>
    <li>
      <div class="bar">
        <div class="barbox">
          <ul class="clearfix">
            <li id="firstLi" class="pulll_left counter">12581189</li>
            <li id="secondLi" class="pulll_left counter">3912410</li>
          </ul>
        </div>

        <div class="barbox2">
          <ul class="clearfix">
            <li class="pulll_left">当日接入总量 </li>
            <li class="pulll_left">预测接入总量</li>
          </ul>
        </div>
      </div>
      <div class="map">
        <div class="map1"><img src="{%  static 'picture/lbx.png' %}"></div>
        <div class="map2"><img src="{%  static 'picture/jt.png' %}"></div>
        <div class="map3"><img src="{%  static 'picture/map.png' %}"></div>
        <div class="map4" id="map_1"></div>
      </div>
    </li>
    <li>
          <div class="boxall" style="height:3.4rem">
        <div class="alltitle">5日内预测与实际对比</div>
        <div class="allnav" id="echart4"></div>
        <div class="boxfoot"></div>
      </div>
      <div class="boxall" style="height: 3.2rem">
        <div class="alltitle">超量异常统计</div>
        <div class="allnav" id="echart5"></div>
        <div class="boxfoot"></div>
      </div>
      <div class="boxall" style="height: 3rem">
        <div class="alltitle">各类型活动占比</div>
        <div class="allnav" id="echart6"></div>
        <div class="boxfoot"></div>
      </div>
    </li>
  </ul>
</div>
<div class="back"></div>


<script type="text/javascript" src="{%  static 'js/heilongjiang.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/area_echarts.js' %}"></script>

<script>
    var t = null;
    t = setTimeout(time,1000);//開始运行
    function time()
    {
       clearTimeout(t);//清除定时器
       dt = new Date();
		var y=dt.getFullYear();
		var mt=dt.getMonth()+1;
		var day=dt.getDate();
       var h=dt.getHours();//获取时
       var m=dt.getMinutes();//获取分
       var s=dt.getSeconds();//获取秒
       document.getElementById("showTime").innerHTML = y+"年"+mt+"月"+day+"-"+h+"时"+m+"分"+s+"秒";
       t = setTimeout(time,1000); //设定定时器，循环运行
    }
    function updatePieByList(list){
        // 创建新的 data 列表
        var newDataList = [];
        var legend = [];
        // 更新原 data 长度，并赋值新的数据
        for (var i = 0; i < list.length; i++) {
            var item = {
                name: list[i].city,
                value: list[i].session,
            };
            newDataList.push(item);
            legend.push(item.name);
        }
        return {
            legendData: legend,
            seriesData: newDataList
        };
    }
    function getAllData(){
        params = {};
        params["msg"] = "allData";
        $.ajax({
            url: "get_all_data/",
            type:"POST",
            data:params,
            success: function(resData){
                //alert(resData);
                resObj = JSON.parse(resData);
                clearAllRows();
                //左一
                chart1DataArr = resObj.chart1Data;
                chart1DataArr.forEach(function(item,index,arr){
                    createRow(item);
                });
                //左二
                chart2Option = chart2.getOption();
                chart2Option.series[0].data = resObj.chart2Data;
                chart2.setOption(chart2Option);
                //左三1
                chart31Option = chart31.getOption();
                chart31Option.legend[0].data = updatePieByList(resObj.chart31Data).legendData;
                chart31Option.series[0].data = updatePieByList(resObj.chart31Data).seriesData;
                chart31.setOption(chart31Option);
                //左三2
                chart32Option = chart32.getOption();
                chart32Option.legend[0].data = updatePieByList(resObj.chart32Data).legendData;
                chart32Option.series[0].data = updatePieByList(resObj.chart32Data).seriesData;
                chart32.setOption(chart32Option);
                //左三3
                chart33Option = chart33.getOption();
                chart33Option.legend[0].data = updatePieByList(resObj.chart33Data).legendData;
                chart33Option.series[0].data = updatePieByList(resObj.chart33Data).seriesData;
                chart33.setOption(chart33Option);
                //右一
                chart4Option = chart4.getOption();
                chart4Option.series[0].data = resObj.chart4Data.map(item => item['norm']);
                chart4Option.series[1].data = resObj.chart4Data.map(item => item['predict']);
                chart4.setOption(chart4Option);
                //更新中心数字
                var firstLiElement = document.getElementById("firstLi");
                var secondLiElement = document.getElementById("secondLi");
                firstLiElement.textContent = chart4Option.series[0].data[4];
                secondLiElement.textContent = chart4Option.series[1].data[4];
                //右二
                chart5Option = chart5.getOption();
                chart5Option.series[0].data[1] = resObj.chart5Data.norm_num;
                chart5Option.series[1].data[1] = resObj.chart5Data.alert_num;
                chart5Option.series[2].data[1] = resObj.chart5Data.exception_num;
                chart5.setOption(chart5Option);
                //右三
                chart6Option = chart6.getOption();
                chart6Option.series.forEach(function(element, index) {
                    chart6Option.series[index].data[0].value = resObj.chart6Data[index];
                });
                chart6.setOption(chart6Option);
                //
            }
        })
    }
</script>
</body>
</html>
